*{
    margin: 0;
}

.contenedor{
    background: rgb(236, 127, 194);
    background-image:url("Flores.jpeg") ;
    background-repeat: repeat-x;
    background-position: 400px -650px;
    opacity:  0.7;
    
    
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}